#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
}

body {
    background-color: #eee;
}

a {
  color: #4257cc;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  width: auto;
  height: auto;
}

.form-container button {
  background: white;
  border: 1px #999 solid;
  margin-top: 10px;
}

.shoutout button {
  background: white;
  border: 1px #999 solid;
  margin-top: 10px;
}

label {
  font-weight: bold;
}

.shoutout {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
